.Main__Page__Title{
    -fx-font-size:70px;
    -fx-text-fill:white;
    
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: yellow;
    -fx-effect: dropshadow( gaussian, yellow, 10, 0, 0, 0 );
}
.Main__Page__Description{
    -fx-font-size:45px;
    -fx-text-fill:white;
    
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: yellow;
    -fx-effect: dropshadow( gaussian, yellow, 5, 0, 0, 0 );
}


.Main__Page__Buttons{
    -fx-font-size : 20px;
    -fx-text-fill: yellow;
    
    -fx-border-radius: 0;
    -fx-border-width: 1px;
    -fx-border-color:yellow;

    -fx-min-width : 100px;
    -fx-min-height :50px;
    -fx-max-width : 200px;
    -fx-max-height :100px;
    
    -fx-background-color:rgb(0, 0, 0);
    -fx-effect: dropshadow( gaussian, yellow, 10, 0, 0, 0 );
}
.Main__Page__Buttons:hover{
    -fx-text-fill: rgb(177, 177, 11);
    -fx-background-color:rgb(35, 35, 35);
}